p {

width: 100px;
height: 100px;
background-color: red;

}

.paragraf6 {

background-color: blue;

}
.paragraf7 {

background-color: blue;

}
.paragraf8 {

background-color: blue;

}

.paragraf2 {

    opacity: .8;
}

.paragraf3 {

    opacity: .8;
}